/*Font Face Declarations*/
@font-face {
    font-family: CenturySchoolbook;
    src: url(/fonts/century_schoolbook.ttf);
}
@font-face {
    font-family: CenturySchoolbookHeavy;
    src: url(/fonts/century_schoolbook_heavy.ttf);
}
@font-face {
    font-family: CenturySchoolbookHeavyItalic;
    src: url(/fonts/century_schoolbook_heavy_italic.ttf);
}
@font-face {
    font-family: CenturySchoolbookItalic;
    src: url(/fonts/century_schoolbook_italic.ttf);
}

a.navbar-brand {
	padding-top: 5px;
}

#logo {
	width: 170px;
}

#footerlogo {
	width: 100px;
	height: 40px;
}

/*#hero-img {
	margin:0 0 20px 0;
	background: url("../img/hero-img.jpg") no-repeat;
	background-position: 0 0;
	background-size: cover;
}*/

#header {
	background-color: #006bb6;
	margin-bottom: 20px;
	margin-top: 20px;
}

#container-text {
	/*padding: 150px 0px;*/
	/*margin-top:70px;*/
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	font-size: 40px;
	font-family: CenturySchoolbookItalic;
	text-align: center;
}
/*#hero-img img{
	width: 100%;
	height: auto;
}*/

.fancybox-title {
	text-align: justify;
	font-family: CenturySchoolbook;
}
.navbar-default {
	background: #F0F0F0;
	border: 0px;
	box-shadow: none;
}

/*
#make-a-wish-menu a {
	color: #FFFFFF;
}*/

a.fancybox {
	background-size:cover !important;
	display:block;
	background-repeat:none;
	width:100%;
	height:250px;
}

.wish-image-grid {
	margin-bottom:40px;
}

.wish-image-grid:first-child {
	margin-bottom:0;
}

@media (max-width: 770px) {
	#hero-img {
		background-position: 50% 50%;
	}
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background: #F0F0F0;
	font-family: CenturySchoolbook;
}

/*login/signup*/

#loginpage {
	background: #F0F0F0;
}

.info {
	/*background: #006BB6;*/
	color: #FFFFFF;
	background: #006bb6;
	/*background: rgb(0,107,182) ; opacity: 0.6;*/
	padding: 10px;
	height:120px;
	font-family: CenturySchoolbook;
}

@media (max-width: 770px) {
	.wish-wrapper {
		margin-top:20px;
	}
}

.wish-wrapper {
	-webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.75);
}